name: client
description: "A new Flutter project."

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  http: ^1.2.2
  google_fonts: ^6.2.1
  flutter_svg: ^2.1.0
  provider: ^6.1.2
  geolocator: ^14.0.2
  flutter_launcher_icons: ^0.14.4
  flutter_riverpod: ^2.5.1
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/google-icon.svg
    - assets/images/
    - assets/icons/

flutter_launcher_icons:
  android: true
  ios: false
  image_path: "assets/FoodHunt.png"
